include _header.jade
	<div class="content_main_wrapper">
		<div class="block_inner">
			<div class="path_block">
				<a href="">Главная</a><span></span><a href="">Каталог</a><span></span><a href="">Бакалея</a><span></span><a href="">Чай, Кофе, Какао</a><span></span>Чай АХМАД черн крупн лист.200гр*12шт
			</div>
			<a href="" class="path_back">Чай, Кофе, Какао</a>
			<div class="content_card_product">
				<div class="card_product_top">
					<div class="product_image">
						<a href="files/pro.png">
							<img src="files/pro.png" alt="path_back">
						</a>
					</div>
					<div class="product_detals">
						<h1>Чай АХМАД черн крупн лист. 200гр* 12шт</h1>
						<div class="param_we_s">
							<div class="weight">400 г шт</div>
							<div class="stock">В наличии</div>
						</div>	
						<div class="price_text">
							<div class="name">Цена за 1 упаковку</div>
							<div class="stock">В наличии</div>
						</div>
						<div class="price">
							<div class="old_price">3 066.2₽</div>
							<div class="current_price">2 606.2₽ </div>	
						</div>
						<div class="actions">
							<div class="buy_btn">В корзину</div>
							<div class="amount_block">
								<button class="btn_amount minus">-</button>
								<input type="text" value="1">
								<button class="btn_amount plus">+</button>
							</div>
							<div class="btn_favorites"></div>
						</div>
					</div>
				</div>																				
				<div class="tabs_block_wr">
					<ul class="tabs_title">
						<li class="active"><a href="#tab1">Характеристики</a></li>
						<li><a href="#tab2">Доставка и оплата</a></li>
					</ul>
					<div class="tabs_body">
						<div class="tab_item active" id="tab1">
							<div class="params">
								<div class="row_param">
									<div class="name">Производитель</div>
									<span></span>
									<div class="val">Россия</div>
								</div>
								<div class="row_param">
									<div class="name">Страна происхождения</div>
									<span></span>
									<div class="val">Россия</div>
								</div>
								<div class="row_param">
									<div class="name">Условия хранения</div>
									<span></span>
									<div class="val">Россия</div>
								</div>
								<div class="row_param">
									<div class="name">Срок годности</div>
									<span></span>
									<div class="val">Россия</div>
								</div>
								<div class="row_param">
									<div class="name">Номер сертификата</div>
									<span></span>
									<div class="val">Россия</div>
								</div>
							</div>
						</div>
						<div class="tab_item" id="tab2">
							<h4>ДОСТАВКА</h4>
							<ul style="margin-left:20px;margin-top:20px;margin-bottom:20px;"><li>Курьером</li>
							<li>Самовывоз со склада по адресу г. Москва, Кавказский бульвар, 57</li></ul>
							<p>Доставка 7 дней в неделю с 9:00 до 18:00.</p>
							<h4 style="margin:10px 0px;">ОПЛАТА</h4>
							<ul style="margin-left:20px;margin-top:20px;margin-bottom:20px;"><li>По счёту  (Юридическое лицо)</li> 
							<li>Отсрочка платежа (Юридическое лицо)</li>
							<li>Вы также можете оплатить заказ с помощью QR-кода.</li>
							<p>Более подробную информацию <a href="/zakaz/" style="text-decoration: underline;">о Доставке и оплате</a> читайте на соответствующей странице</p>
						</div>
					</div>
				</div>
				<div class="slider_product_list slider_similar">
					<div class="title_block">
						<h2 class="title">Похожие товары</h2>
					</div>
					<div class="inner">
						<div class="arrow_block">
							<div class="arrow_prev"></div>
							<div class="arrow_next"></div>
						</div>
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Перец ЧЕРНЫЙ молотый 1кг*5</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider_product_list slider_sales">
					<div class="title_block">
						<h2 class="title">Товары по акции</h2>
						<a href="" class="more">Смотреть все</a>
					</div>
					<div class="inner">
						<div class="arrow_block">
							<div class="arrow_prev"></div>
							<div class="arrow_next"></div>
						</div>
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Перец ЧЕРНЫЙ молотый 1кг*5</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="product_item swiper-slide">
									<div class="image">
										<div class="label">
											<div class="new">Новинка</div>
											<div class="sale">Акция</div>
										</div>
										<a href="">
											<img src="files/product.png" alt="">
										</a>
									</div>
									<div class="product_middle">
										<div class="name">
											<a href="">Куркума</a>
										</div>
										<div class="weight">400 г шт</div>
									</div>
									<div class="product_bottom">
										<div class="product_left">									
											<div class="old_price">3 066.2₽</div>
											<div class="current_price">2 606.2₽ </div>
										</div>
										<div class="product_right">
											<div class="buy_btn"></div>
											<div class="amount_block">
												<button class="btn_amount minus">-</button>
												<input type="text" value="1">
												<button class="btn_amount plus">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade